{% extends "layout/aside.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('leaflet') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('mapAnnonce') }}
{% endblock %}

{# {% set statut = 'inconnu' %}
{% block content %}
    <h1>{{ title }}</h1>

    <a href="#" class="btn btn-primary">Primary</a>
    <p>{{ content }}</p>
    <span>Date du jour : {{ date|date("d/m/Y") }}</span>
    <h2>Dernières annonces</h2>
    <ul>
        {% for duck in ducks %}
            {% if duck.status == '0' %}
                {% set statut = 'piètre qualité' %}
            {% elseif duck.status == '1' %}
                {% set statut = 'mauvaise qualité' %}
            {% elseif duck.status == '2' %}
                {% set statut = 'qualité médiocre' %}
            {% elseif duck.status == '3' %}
                {% set statut = 'bonne qualité' %}
            {% elseif duck.status == '4' %}
                {% set statut = 'excellente qualité' %}
            {% else %}
                {% set statut = 'qualité indéterminée' %}
            {% endif %}
            <li><strong>{{ duck.title }}</strong> <em>({{ duck.price }}€, {{ statut }})</em>: {{ duck.description }}</li>
        {% endfor %}
    </ul>
{% endblock %} #}

{% block aside %}
<div class="container">
    <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">SmallAds</h1>
        <p class="lead">Vends toutes tes affaires !</p>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <h2>Carte des annonces</h2>
    <div id="map" style="height: 500px"></div>
    <input type="text" class="addressAutocomplete" style="display: inline" placeholder="Adresse"> <span>(Radius: <input type="range" style="display: inline" class="radius" min="1" value="10" oninput="this.nextElementSibling.value = this.value"> <output>10</output>)</span><br>
    <input type="hidden" id="annonce_address_latitude">
    <input type="hidden" id="annonce_address_longitude">
    <button type="button" class="changeLocation">Changer ma localisation</button>
    <button class="geolocate" type="button">Géoocalise-moi!</button>
    <h2>Les dernières annonces</h2>
    <div class="row">
        {% for duck in ducks %}
            <div class="col-lg-3">
                <div class="card">
                    <img class="img-fluid" src="{% if duck.imageUrl is not null %}{{ duck.imageUrl }}{% endif %}">
                    <div class="card-img-top">
                        <h5 class="card-title">{{ duck.title }}</h5>
                        <p class="card-text">{{ duck.description }}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="{{ path('app_annonce_show', {id: duck.id, slug: duck.slug}) }}" class="btn btn-sm btn-outline-secondary" type="button">View</a>
                                <a class="btn btn-sm btn-outline-secondary" type="button">Edit</a>
                            </div>
                            <small class="text-muted">{{ duck.price }}€</small>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
